body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  padding: 0.5em;
  text-align: center;
  height: 7em;
}

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 4em;
}

.content-container > div:first-child {
  width: 60%;
}

.content-container > div:nth-child(2) {
  width: 40%;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.layer-container ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 3em;
  padding-right: 1em;
}

#heatmap {
  width: calc(12 * 60px);
  height: calc(4 * 60px + 1px);
  position: relative;
}

#heatmap canvas {
  position: absolute;
  left: 1px;
  top: 1px;
}

.row {
  height: 60px;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.key {
  width: 60px;
  height: 60px;
  border: 1px solid black;
  border-bottom-width: 0;
  border-right-width: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.key:last-child {
  border-right-width: 1px;
}
.row:last-child .key {
  border-bottom-width: 1px;
}
.key span {
  margin: 0;
}
.material-symbols-sharp {
  font-size: 19px !important;
}

th .material-symbols-sharp {
  transform: translateY(2px);
  font-variation-settings:
    "wght" 500,
    "GRAD" 0,
    "opzs" 20;
}

.stats-container {
  padding-left: 1em;
  padding-right: 3em;
}

.stats-container h4 {
  margin-top: 3em;
  margin-bottom: 0.5em;
}

.tab {
  display: none;
}

.tab.active {
  display: block;
}

.dates {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1em auto;
}

.dates button {
  appearance: none;
  padding: 0.5em 1em;
  border: 1px solid #777;
  border-right: 0;
  border-radius: 0;
}

.dates button:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.dates button:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-right: 1px solid #777;
}

.dates > button.active {
  background-color: #aaa;
  color: #fff;
}

.date-picker {
  position: relative;
}

.date-picker-button {
  display: flex;
  align-items: center;
}

.date-picker-button-date {
  margin-left: 0.5em;
}

.date-picker:focus-within .date-picker-pane {
  display: block;
  z-index: 1000;
  color: black;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.05);
}

.date-picker-pane {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 0.25em;
  background-color: white;
  padding: 1em;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: black;
}

.date-picker button {
  background-color: transparent;
  border: 0 !important;
  cursor: pointer;
}

.date-picker-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5em;
}

.date-picker td {
  text-align: center;
}

.date-picker td button,
.date-picker th span {
  display: flex;
  position: relative;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.date-picker td button {
  font-weight: 500;
}

.date-picker td button.selected {
  color: white;
  font-weight: bold;
  z-index: 10;
}
.date-picker td button.out-of-month,
.date-picker td button.out-of-month.disabled {
  opacity: 0.2;
  cursor: not-allowed;
  font-weight: 400;
}
.date-picker td button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.date-picker td button.selected::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: purple;
  z-index: -1;
}

.keyboard-selector {
	cursor: pointer;
	display: inline-block;

	.container {
		position: relative;
		width: 100%;
	}

	.button.select {
		padding: 0 2em ;
		display: flex;
		flex-direction: row;
		align-items: center;

		span.material-symbols-sharp {
			font-size: 2em !important;
			margin-left: 0.5em;
			margin-top: 0.125em;
		}
	}

	.options {
		display: block;
		visibility: hidden;
		opacity: 0;
		transition: opacity 0.2s ease;
		position: absolute;
		z-index: 1000;
		top: 100%;
		left: 0;
		width: 100%;
		text-align: center;

		background-color: white;
		border-radius: 4px;
  	border: 1px solid #ddd;
		box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.05);

		.option {
			padding: 0.75em 1em;
			transition: background-color 0.2s ease;

			&:not(:last-child) {
				border-bottom: 1px solid rgba(0, 0, 0, 0.15);
			}

			&:hover {
				background-color: rgba(0, 0, 0, 0.03)
			}

			&.selected {
				background-color: rgba(0, 0, 0, 0.03);
				font-weight: bold;
			}
		}
	}

	&:focus-within {
		.options {
			visibility: visible;
			opacity: 1;
		}
	}
}
