.dates {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1em auto;

  button {
    padding: 0.5em 1em;
  }
}

.datePicker {
  position: relative;

  & > button:first-child {
    padding: 0.5em 1em;
    height: calc(100% - 1em);
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    display: flex;
    align-items: center;

    *:last-child:not(:first-child) {
      margin-left: 0.5em;
    }
  }

  & [aria-hidden="true"] {
    visibility: hidden;
    opacity: 0;
    transition:
      opacity 0.2s ease,
      visibility 0s 0.2s linear;
  }

  & [aria-hidden="false"] {
    visibility: visible;
    opacity: 1;
    transition:
      opacity 0.2s ease,
      visibility 0s 0s linear;
  }

  [role="dialog"] {
    display: block;
    position: absolute;
    top: calc(100% - 1em);
    left: 50%;
    transform: translateX(-50%);
    margin-top: 0.25em;
    background-color: white;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: black;
    z-index: 1000;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.05);

    button {
      background-color: transparent;
      border: 0 !important;
      cursor: pointer;
    }

    [role="group"] {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1em;

      & > button[role="button"] {
        background-color: transparent;
        border: 0;
        padding: 0;
        margin: 0;

        &[aria-disabled="true"] {
          opacity: 0.5;
        }
      }
    }
  }

  table {
    margin-bottom: 0;

    th {
      font-weight: bold;
    }

    th,
    td {
      border-bottom: 0;
      text-align: center;
      padding: 0.125rem;

      button,
      span {
        display: flex;
        position: relative;
        width: 32px;
        height: 32px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
    }

    td {
      button {
        font-weight: 500;
        padding: 0;
        margin: 0;

        &[aria-selected="true"] {
          color: var(--accent-inverse) !important;
          font-weight: bold;
          z-index: 10;

          &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 100%;
            background-color: var(--accent);
            z-index: -1;
          }
        }

        &[aria-current="date"] {
          color: var(--accent);
          font-weight: bold;
        }

        &.outOfMonth {
          opacity: 0.2 !important;
          font-weight: 400;
        }

        &[disabled] {
          opacity: 0.5;
          cursor: not-allowed;
        }
      }
    }
  }
}
